<!DOCTYPE html>
<html lang="ru-RU">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#242424">
  <meta name="robots" content="noindex">
  <meta name="yandex-tableau-widget"
    content="logo=https://res.cloudinary.com/minecraftunion/image/upload/v1558781105/tableau.png, color=#242424" />
  <meta name="description"
    content="Хотели когда-то окунуться в атмосферу колониального города 19 века? Или построить свою империю с нуля, чтобы потом превратить врагов в пылающие руины?">
  <meta name="keywords"
    content="Майнкрафт, политика, строительство города, кланвар, кланы, войны, клановые войны, города, город, нации, страны, государства, выживание, ваниль, ванильный сервер, классическое выживание, без модов, без плагинов, приватка, проходка, приватный сервер, майнкрафт ролеплей, рп, ролевая игра, ролеплей, майнкрафт юнион, майнкрафт цивилизация, майнкрафт классик, union, classic, civilization, мониторинг, сервера майнкрафт, мониторинг серверов">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/mainold.css">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
  <style>
    body,
    html {
      background-color: #242424;
    }

    .cabinet-block {
      width: 100%;
      margin-left: 0;
      margin-bottom: 40px;
    }

    .rules-paragraph {
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      font-weight: 400;
      color: #e8ac2c;
      line-height: 1.5;
      margin-bottom: 20px;
    }

    .rules-paragraph:last-child {
      margin-bottom: 0;
    }

    .rules-li {
      font-weight: 500;
      user-select: none;
    }

    .license-attencion {
      color: #e8ac2c;
    }

    .rules-row:last-child {
      margin-bottom: 0;
    }

    @media screen and (max-width: 960px) {
      .cabinet-block {
        width: 100%;
        margin-bottom: 20px;
      }
    }

    @media screen and (max-width: 576px) {
      .rules-paragraph {
        font-size: 16px;
      }

      .cabinet-block {
        margin-bottom: 10px;
      }
    }
  </style>
  <title>Minecraft Union | Classic Rules</title>
</head>

<body>
  <header class="cabinet-header">
    <div class="header-wrapper">
      <nav class="cabinet-navigation">
        <a href="/" class="cabinet-home-link">Minecraft Union</a>
        <ul class="cabinet-menu">
          <li class="cabinet-menu-list"><a href="/rules" class="menu-list-link">Правила</a></li>
          <li class="cabinet-menu-list"><a href="/store" class="menu-list-link">Union Store</a></li>
          <li class="cabinet-menu-list"><a href="/account/dashboard" class="menu-list-link">Личный кабинет</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="cabinet-main">
    <div class="wrapper" style="display: flex; flex-direction: column">
      <h1 class="cabinet-big-title">Minecraft Classic Rules</h1>
      <div class="cabinet-block" style="height: auto;">
        <h1 class="cabinet-block-title">1. Ресурсы и ландшафт</h1>
        <div class="rules-row">
          <div class="rules-column">
            <p class="rules-paragraph">
              1.1. При добыче древесины Вы обязаны вернуть на место дерева саженец для сохранения ландшафта.
            </p>
          </div>
          <div class="rules-column">
            <p class="rules-paragraph">
              1.2. Запрещается оставлять дырки в земле и открытые шахты, если те не используются.
            </p>
          </div>
        </div>
        <div class="rules-row">
          <div class="rules-column">
            <p class="rules-paragraph">
              1.3. Запрещается гриферство в любых формах и проявлениях.
            </p>
          </div>
          <div class="rules-column">
            <p class="rules-paragraph">
              1.4. Запрещается дюп (клонирование) ресурсов в любых формах и проявлениях.
            </p>
          </div>
        </div>
      </div>
      <div class="cabinet-block">
        <h1 class="cabinet-block-title">2. Безопасность игровых аккаунтов</h1>
        <div class="rules-row">
          <div class="rules-column">
            <p class="rules-paragraph">
              2.1. Каждый игрок несет самостоятельную ответственность за свой аккаунт. В случае потери доступа к своему
              аккаунту, игрок имеет право обратиться к администрации на вспомогательных ресурсах сервера для
              восстановления доступа.
            </p>
          </div>
          <div class="rules-column">
            <p class="rules-paragraph">
              2.2. Будьте готовы предоставить данные от своего аккаунта для восстановления. Полную историю паролей,
              привязанную почту, свой айпи адрес и айпи адрес регистрации, номер чека по оплате Minecraft Union Access.
            </p>
          </div>
        </div>
        <div class="rules-row">
          <div class="rules-column">
            <p class="rules-paragraph">
              2.3. Процесс восстановления аккаунта может провести только системный администратор, который уполномочен на
              проведение соответствующих мероприятий главным администратором.
            </p>
          </div>
          <div class="rules-column">
            <p class="rules-paragraph">
              2.4. Вы можете обратиться к любому администратору за помощью, если не можете сами найти системного
              администратора.
            </p>
          </div>
        </div>
        <div class="rules-row">
          <div class="rules-column">
            <p class="rules-paragraph">
              2.5. Вы имеете право потребовать доказательства того, что системный администратор, с которым Вы ведете
              диалог, уполномочен на восстановление аккаунтов игроков.
            </p>
          </div>
          <div class="rules-column">
            <p class="rules-paragraph">
              2.6. В случае, если данные от вашего аккаунта запрашивает сторонний администратор, Вы можете подать на
              него жалобу лично главному администратору.
            </p>
          </div>
        </div>
      </div>
      <div class="cabinet-block">
        <h1 class="cabinet-block-title">3. Использование сторонних модификаций</h1>
        <div class="rules-row">
          <div class="rules-column">
            <p class="rules-paragraph">
              3.1. Использование любых сторонних модификаций, которые дают преимущество над другими игроками -
              запрещено.
            </p>
          </div>
          <div class="rules-column">
            <p class="rules-paragraph">
              3.2. Разрешается использование косметических модификаций, если те не предназначены и/или не используются в
              целях получения преимущества над другими игроками.
            </p>
          </div>
        </div>
        <div class="rules-row">
          <p class="rules-paragraph">
            3.3. Использование программ и скриптов, которые способны даже косвенно повлиять на игровой процесс и
            обратить его в лудшую и/или худшую сторону для определенных лиц - запрещено.
          </p>
        </div>
      </div>
      <div class="cabinet-block">
        <h1 class="cabinet-block-title">4. Общение на сервере</h1>
        <div class="rules-row">
          <div class="rules-column">
            <p class="rules-paragraph">
              4.1. Мы стараемся создать максимально дружелюбную и приятную атмосферу на сервере. Чтобы в полной мере
              наладить взаимодействие между игроками, им самим, в первую очередь, необходимо относится к друг другу с
              уважением.
            </p>
          </div>
          <div class="rules-column">
            <p class="rules-paragraph">
              4.2. Оскорбления, в том числе косвенные и завуалированные - запрещены.
            </p>
          </div>
        </div>
        <div class="rules-row">
          <p class="rules-paragraph">
            4.3. Использование нецензурной лексики на сервере не запрещается, но, злоупотребление таковой может быть
            наказуемо по инициативе администрации или по жалобе игроков.
          </p>
        </div>
      </div>
    </div>
  </main>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
    (function (m, e, t, r, i, k, a) {
      m[i] = m[i] || function () {
        (m[i].a = m[i].a || []).push(arguments)
      };
      m[i].l = 1 * new Date();
      k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k,
        a)
    })
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(53870005, "init", {
      clickmap: true,
      trackLinks: true,
      accurateTrackBounce: true,
      webvisor: true
    });
  </script>
  <noscript>
    <div><img src="https://mc.yandex.ru/watch/53870005" style="position:absolute; left:-9999px;" alt="" /></div>
  </noscript>
  <!-- /Yandex.Metrika counter -->
</body>

</html>