<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#242424">
    <meta name="robots" content="noindex">
    <meta name="yandex-tableau-widget"
        content="logo=https://res.cloudinary.com/minecraftunion/image/upload/v1558781105/tableau.png, color=#242424" />
    <meta name="description"
        content="Хотели когда-то окунуться в атмосферу колониального города 19 века? Или построить свою империю с нуля, чтобы потом превратить врагов в пылающие руины?">
    <meta name="keywords"
        content="Майнкрафт, политика, строительство города, кланвар, кланы, войны, клановые войны, города, город, нации, страны, государства, выживание, ваниль, ванильный сервер, классическое выживание, без модов, без плагинов, приватка, проходка, приватный сервер, майнкрафт ролеплей, рп, ролевая игра, ролеплей, майнкрафт юнион, майнкрафт цивилизация, майнкрафт классик, union, classic, civilization, мониторинг, сервера майнкрафт, мониторинг серверов">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <title>Minecraft Union | Личный кабинет</title>
</head>

<body>
    <header class="cabinet-header">
        <div class="wrapper">
            <nav class="cabinet-navigation">
                <a href="/" class="cabinet-home-link">Minecraft Union</a>
                <ul class="cabinet-menu">
                    <li class="cabinet-menu-list"><a href="/rules" class="menu-list-link">Правила</a></li>
                    <li class="cabinet-menu-list"><a href="/store" class="menu-list-link">Union Store</a></li>
                    <li class="cabinet-menu-list"><a href="/account/dashboard" class="menu-list-link">Личный кабинет</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="cabinet-main">
        <div class="wrapper" style="display: flex; flex-direction: column;">
            <h1 class="cabinet-big-title">Личный кабинет</h1>
            <div class="cabinet-row" style="justify-content: center;">
                <div class="cabinet-block email">
                    <span class="block-nav"><a href="/account/dashboard" class="left-arrow"></a>
                        <h2 class="cabinet-block-title nav-title">Смена E-Mail</h2>
                    </span>
                    <span class="errormsg" th:text="${message}"></span>
                    <form action="" th:action="@{/account/emailchange}" name="changemail" method="post" class="change">
                        <div class="input-container">
                            <i class="fas fa-envelope input-icon"></i>
                            <input class="input" type="email" id="newmail" name="newmail" placeholder="Новый E-Mail"
                                required autocomplete="off">
                        </div>
                        <div class="input-container">
                            <i class="fas fa-key input-icon"></i>
                            <input class="input" type="password" id="password" name="oldpass" placeholder="Пароль"
                                required autocomplete="new-password">
                        </div>
                        <button class="cabinet-btn" type="submit" id="submit"
                            style="margin-left: 0; width: 100%; margin-bottom: 0;">Изменить
                            E-Mail</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode
                .insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(53870005, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/53870005" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
</body>

</html>