<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#242424">
    <meta name="yandex-tableau-widget"
        content="logo=https://res.cloudinary.com/minecraftunion/image/upload/v1558781105/tableau.png, color=#242424" />
    <meta name="description"
        content="Хотели когда-то окунуться в атмосферу колониального города 19 века? Или построить свою империю с нуля, чтобы потом превратить врагов в пылающие руины?">
    <meta name="keywords"
        content="Майнкрафт, политика, строительство города, кланвар, кланы, войны, клановые войны, города, город, нации, страны, государства, выживание, ваниль, ванильный сервер, классическое выживание, без модов, без плагинов, приватка, проходка, приватный сервер, майнкрафт ролеплей, рп, ролевая игра, ролеплей, майнкрафт юнион, майнкрафт цивилизация, майнкрафт классик, union, classic, civilization, мониторинг, сервера майнкрафт, мониторинг серверов">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <style>
        .cabinet-block {
            width: 100%;
            margin-left: 0;
            margin-bottom: 40px;
        }

        .rules-paragraph {
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            font-weight: 400;
            color: #e8ac2c;
            line-height: 1.5;
            margin-bottom: 20px;
        }

        .rules-paragraph:last-child {
            margin-bottom: 0;
        }

        .rules-li {
            font-weight: 500;
        }

        .license-attencion {
            color: #e8ac2c;
        }

        @media screen and (max-width: 960px) {
            .cabinet-block {
                width: 100%;
                margin-bottom: 20px;
            }
        }

        @media screen and (max-width: 576px) {
            .rules-paragraph {
                font-size: 16px;
            }

            .cabinet-block {
                margin-bottom: 10px;
            }
        }
    </style>
    <title>Minecraft Union | Пользовательское соглашение</title>
</head>

<body>
    <header class="cabinet-header">
        <div class="header-wrapper">
            <nav class="cabinet-navigation">
                <a href="/" class="cabinet-home-link">Minecraft Union</a>
                <ul class="cabinet-menu">
                    <li class="cabinet-menu-list"><a href="/rules" class="menu-list-link">Правила</a></li>
                    <li class="cabinet-menu-list"><a href="/store" class="menu-list-link">Union Store</a></li>
                    <li class="cabinet-menu-list"><a href="/account/dashboard" class="menu-list-link">Личный кабинет</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="cabinet-main">
        <div class="wrapper" style="display: flex; flex-direction: column;">
            <h1 class="cabinet-big-title">Пользовательское соглашение</h1>
            <div class="cabinet-block">
                <h2 class="cabinet-block-title">1. Общие положения</h2>
                <p class="rules-paragraph">
                    <span class="rules-li">1.1.</span> Minecraft Union (далее — «MU») предлагает пользователю сети
                    Интернет
                    (далее – Пользователь) - использовать свои развлекательные ресурсы на условиях, изложенных в
                    настоящем
                    Пользовательском соглашении (далее — «Соглашение», «ПС»). Соглашение вступает в силу с момента
                    выражения
                    Пользователем согласия с его условиями в порядке, предусмотренном п. 1.4 Соглашения.</span>
                </p>
                <p class="rules-paragraph">
                    <span class="rules-li">1.2.</span> MU предлагает Пользователям доступ к широкому спектру медиа-
                    и
                    развлекательных ресурсов, а так же игровых площадок. Все существующие на данный момент
                    интернет-ресурсы, а
                    также любое развитие их и/или добавление новых является предметом настоящего Соглашения.
                </p>
                <p class="rules-paragraph">
                    <span class="rules-li">1.3.</span> Использование интернет-ресурсов MU регулируется настоящим
                    Соглашением, а
                    также условиями посещения отдельных интернет-ресурсов. Соглашение может быть изменено MU без
                    какого-либо
                    специального уведомления, новая редакция Соглашения вступает в силу с момента ее размещения в
                    сети Интернет
                    по указанному в настоящем абзаце адресу, если иное не предусмотрено новой редакцией Соглашения.
                    Действующая
                    редакция ПС всегда находится на странице по адресу <a href="https://mwmw.icu/user-license"
                        class="license-attencion" target="_blank">https://mwmw.icu/user-license</a>.
                </p>
                <p class="rules-paragraph">
                    <span class="rules-li">1.4.</span> Начиная использовать какой-либо интернет-ресурс/его отдельные
                    функции,
                    либо пройдя процедуру регистрации, Пользователь считается принявшим условия Соглашения в полном
                    объеме, без
                    всяких оговорок и исключений. В случае несогласия Пользователя с какими-либо из положений
                    Соглашения,
                    Пользователь не вправе использовать интернет-ресурсы MU. В случае если MU были внесены
                    какие-либо изменения
                    в Соглашение в порядке, предусмотренном пунктом 1.3 Соглашения, с которыми Пользователь не
                    согласен, он
                    обязан прекратить использование интернет-ресурсов MU.
                </p>
            </div>
            <div class="cabinet-block">
                <h2 class="cabinet-block-title">2. Регистрация Пользователя. Учетная запись Пользователя</h2>
                <p class="rules-paragraph">
                    <span class="rules-li">2.1.</span> Для того чтобы воспользоваться некоторыми интернет-ресурсами
                    MU или
                    некоторыми отдельными функциями интернет-ресурсов, Пользователю необходимо пройти процедуру
                    регистрации, в
                    результате которой для Пользователя будет создана уникальная учетная запись.
                </p>
                <p class="rules-paragraph">
                    <span class="rules-li">2.2.</span> Для регистрации Пользователь обязуется предоставить
                    достоверную и полную
                    информацию о себе по вопросам, предлагаемым в форме регистрации, и поддерживать эту информацию в
                    актуальном
                    состоянии. Если Пользователь предоставляет неверную информацию или у MU есть основания полагать,
                    что
                    предоставленная Пользователем информация неполна или недостоверна, MU имеет право по своему
                    усмотрению
                    заблокировать либо удалить учетную запись Пользователя и отказать Пользователю в использовании
                    своих
                    интернет-ресурсов (либо их отдельных функций).
                </p>
                <p class="rules-paragraph">
                    <span class="rules-li">2.3.</span> MU оставляет за собой право в любой момент потребовать от
                    Пользователя
                    подтверждения данных, указанных при регистрации, и запросить в связи с этим фактическое
                    подтверждение (в
                    частности - подтверждение электронной почты) непредоставление которых, по усмотрению MU, может
                    быть
                    приравнено к предоставлению недостоверной информации и повлечь последствия, предусмотренные п.
                    2.2
                    Соглашения. В случае если данные Пользователя, указанные в предоставленных им документах, не
                    соответствуют
                    данным, указанным при регистрации, а также в случае, когда данные, указанные при регистрации, не
                    позволяют
                    идентифицировать пользователя, MU вправе отказать Пользователю в доступе к учетной записи и
                    использовании
                    интернет-ресурсов MU.
                </p>
            </div>
            <div class="cabinet-block">
                <h2 class="cabinet-block-title">3. Средства для доступа к учетной записи Пользователя</h2>
                <p class="rules-paragraph">
                    <span class="rules-li">3.1.</span> При регистрации Пользователь самостоятельно выбирает себе логин
                    (уникальное символьное имя учетной записи Пользователя) и пароль для доступа к учетной записи. MU
                    вправе
                    запретить использование определенных логинов, а также устанавливать требования к логину и паролю
                    (длина,
                    допустимые символы и т. д.).
                </p>
                <p class="rules-paragraph">
                    <span class="rules-li">3.2.</span> После осуществления Пользователем входа в учетную запись,
                    введенные
                    Пользователем на своем устройстве данные учетной записи могут быть автоматически сохранены в
                    браузере
                    устройства до завершения Пользователем работы под своей учетной записью и не требовать
                    дополнительного ввода
                    средств доступа к учетной записи при каждом использовании интернет-ресурсов MU.
                </p>
                <p class="rules-paragraph">
                    <span class="rules-li">3.3.</span> Пользователь самостоятельно несет ответственность за безопасность
                    (устойчивость к угадыванию) выбранных им средств для доступа к учетной записи, а также
                    самостоятельно
                    обеспечивает их конфиденциальность. Пользователь самостоятельно несет ответственность за все
                    действия (а
                    также их последствия) в рамках или с использованием интернет-ресурсов MU под учетной записью
                    Пользователя,
                    включая случаи добровольной передачи Пользователем данных для доступа к учетной записи Пользователя
                    третьим
                    лицам на любых условиях (в том числе по договорам или соглашениям). При этом все действия в рамках
                    или с
                    использованием интернет-ресурсов MU под учетной записью Пользователя считаются произведенными самим
                    Пользователем, за исключением случаев, когда Пользователь уведомил MU о несанкционированном доступе
                    к
                    интернет-ресурсам MU с использованием учетной записи Пользователя и/или о любом нарушении
                    (подозрениях о
                    нарушении) конфиденциальности своих средств доступа к учетной записи.
                </p>
            </div>
            <div class="cabinet-block">
                <h2 class="cabinet-block-title">4. Использование Пользователем своей учетной записи</h2>
                <p class="rules-paragraph">
                    <span class="rules-li">4.1.</span> Пользователь не вправе воспроизводить, повторять и копировать,
                    продавать и
                    перепродавать, а также использовать для каких-либо коммерческих целей какие-либо части
                    интернет-ресурсов MU
                    (включая контент, доступный Пользователю посредством интернет-ресурсов), или доступ к ним, кроме тех
                    случаев, когда Пользователь получил такое разрешение от MU, либо когда это прямо предусмотрено
                    пользовательским соглашением какого-либо интернет-ресурса.
                </p>
                <p class="rules-paragraph">
                    <span class="rules-li">4.2.</span> Некоторые категории учетных записей Пользователей могут
                    ограничивать или
                    запрещать использование некоторых интернет-ресурсов MU или их отдельных функций в случае, если это
                    предусмотрено при регистрации, либо в условиях использования того или иного интернет-ресурса.
                </p>
                <p class="rules-paragraph">
                    <span class="rules-li">4.3.</span> Прекращение регистрации. MU вправе заблокировать или удалить
                    учетную
                    запись Пользователя, а также запретить доступ с использованием какой-либо учетной записи к
                    определенным
                    интернет-ресурсам MU, и удалить любой контент без объяснения причин, в том числе в случае нарушения
                    Пользователем условий Соглашения.
                </p>
            </div>
            <div class="cabinet-block">
                <h2 class="cabinet-block-title">5. Индивидуальный Счет учетной записи</h2>
                <p class="rules-paragraph">
                    <span class="rules-li">5.1.</span> Одновременно с завершением процесса регистрации учетной записи
                    Пользователя, для него генерируется Индивидуальный Счет (далее - «ИС», «Счет»). Счет предназначен
                    для
                    совершения внутриигровых приобретений на интернет-ресурсах MU.
                </p>
                <p class="rules-paragraph">
                    <span class="rules-li">5.2.</span> Пополнение Счета является полностью добровольным пожертвованием.
                    MU не
                    возлагает на себя обязательств по исполнению каких-либо функций и/или услуг (в т.ч. услуг по
                    предоставлению
                    контента), а также возврату ранее переведенных средств.
                </p>
                <p class="rules-paragraph">
                    <span class="rules-li">5.3.</span> Условные единицы («MCoins», «MC»), представляемые Пользователю в
                    качестве
                    баланса Счета, не являются платежным средством. Любые операции, совершенные с помощью таковых
                    единиц, не
                    являются финансовыми и не могут подлежать отмене и/или пересмотру. В исключения входят те случаи,
                    когда
                    отмена и/или пересмотр оных операций производиться по инициативе MU.
                </p>
                <p class="rules-paragraph">
                    <span class="rules-li">5.4.</span> Пополняя Счет, Пользователь безоговорочно подтверждает, что
                    совершает все
                    операции будучи трезвым, здоровым как физически, так и психологически. Так же Пользователь
                    подтверждает, что
                    все операции, им произведенные, были его собственной инициативой и не были результатом шантажа и/или
                    насилия
                    в любых формах.
                </p>
            </div>
            <div class="cabinet-block">
                <h2 class="cabinet-block-title">6. Правила интернет-ресурсов</h2>
                <p class="rules-paragraph">
                    <span class="rules-li">6.1.</span> Правила интернет-ресурсов MU (далее - «Правила») используются в
                    целях
                    создать на каждом из интернет-ресурсов благоприятную атмосферу для пребывания на них Пользователей.
                </p>
                <p class="rules-paragraph">
                    <span class="rules-li">6.2.</span> Правила расположены на официальных веб-сайтах соответствующих
                    интернет-ресурсов. Minecraft Roleplay (<a href="https://mwmw.icu/rules/rp" class="license-attencion"
                        target="_blank">https://mwmw.icu/rules/rp</a>), Minecraft Civilization (<a
                        href="https://mwmw.icu/rules/civ" class="license-attencion"
                        target="_blank">https://mwmw.icu/rules/civ</a>),
                    Minecraft Classic (<a href="https://mwmw.icu/rules/cl" class="license-attencion"
                        target="_blank">https://mwmw.icu/rules/cl</a>).
                </p>
                <p class="rules-paragraph">
                    <span class="rules-li">6.3.</span> MU вправе редактировать Правила без особых уведомлений
                    Пользователя. Новые
                    редакции Правил находятся по указанным в П. 6.2 настоящего Соглашения адресам в сети Интернет.
                </p>
                <p class="rules-paragraph">
                    <span class="rules-li">6.4.</span> Новые поправки в Правилах интернет-ресурсов являются донесенными
                    до
                    Пользователя сразу после размещения по указанным в П. 6.2 настоящего Соглашения адресам в сети
                    Интернет.
                </p>
                <p class="rules-paragraph">
                    <span class="rules-li">6.5.</span> Пользователь обязуется безоговорочно следовать всем Правилам во
                    время
                    посещения интернет-ресурсов MU. В случае нарушения правил MU оставляет за собой право прекратить
                    действие
                    учетной записи Пользователя, а также применять санкции в отношении Пользователя в соответствии с
                    Политикой
                    Ограничений.
                </p>
            </div>
            <div class="cabinet-block">
                <h2 class="cabinet-block-title">7. Политика Ограничений</h2>
                <p class="rules-paragraph">
                    <span class="rules-li">7.1.</span> Политика Ограничений (далее - «Политика», «ПО») используется для
                    контроля
                    соблюдения Правил со стороны Пользователей.
                </p>
                <p class="rules-paragraph">
                    <span class="rules-li">7.2.</span> Политика Ограничений позволяет MU выносить санкции в отношении
                    Пользователей (в т.ч. временная и/или бессрочная блокировка учетной записи, обнуление внутриигровых
                    покупок,
                    обнуление Счета) по своему усмотрению в зависимости от степени нарушения Правил.
                </p>
                <p class="rules-paragraph">
                    <span class="rules-li">6.3.</span> MU вправе редактировать Правила без особых уведомлений
                    Пользователя. Новые
                    редакции Правил находятся по указанным в П. 6.2 настоящего Соглашения адресам в сети Интернет.
                </p>
                <p class="rules-paragraph">
                    <span class="rules-li">7.3.</span> MU оставляет за собой право использовать Политику Ограничений по
                    собственному усмотрению без объяснения причин.
                </p>
            </div>
        </div>
    </main>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            PopUpHide();
        });

        function closepush() {
            $("#push").hide();
        }
    </script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode
                .insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(53870005, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/53870005" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
</body>

</html>